<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/styleDados.css">
    <title>Conta</title>
</head>
<body>
    <section class="container">
        <section class="dadosPrincipais">
            <div class="linha-1">
                <p class="nomeTitular">Nome do titular</p>
                <p class="statusConta">Status da conta</p>
            </div>
            <div class="linha-2">
                <p class="nomeEst">Nome do estabelecimento</p>
                <p class="statusCartao">Status do cartão</p>
                <p class="validadeCartao">Validade do cartão</p>
            </div>
        </section>
        <section class="dadosAtendimento">
            <div class="protocolo">
                <p class="nomeDado">Protocolo do atendimento: </p>
                <p class="Dado">U202511170947</p>
            </div>
            <div class="data">
                <p class="nomeDado">Data do atendimento: </p>
                <p class="Dado"> 17/11/2025 09:49:12</p>
            </div>

        </section>

        <section class="dadosEndereco">
            
        </section>
    </section>
</body>
</html>