@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: rgb(50, 50, 126);
	color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container {
	background: #f3f4f6;
	width: 100%;
	max-width: 700px;
	height: 700px;
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgb(0, 0, 0, 0.1);
	padding: 2rem;
	text-align: center;
}

.contas {
	overflow-y: auto;
	padding: 0.5rem;
}

h1 {
	padding-bottom: 1.5rem;
}

.conta {
	background-color: rgb(221, 221, 121);
	padding: 0.5rem;
	border-radius: 12px;
	text-align: start;
	border: 0.5px solid rgba(0, 0, 0, 0);
	margin-bottom: 1rem;
}

.conta:hover {
	background-color: rgb(202, 202, 142);
	border: 0.5px solid black;
}