@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: rgb(50, 50, 126);
	color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container {
	background: #f3f4f6;
	width: 100%;
	max-width: 700px;
	height: 700px;
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgb(0, 0, 0, 0.1);
	padding: 2rem;
	text-align: center;
}

.contas {
	overflow-y: auto;
	padding: 0.5rem;
}

h1 {
	padding-bottom: 1.5rem;
}

.conta {
    background: #ffffff;
    padding: 1rem 1.2rem;
    border-radius: 12px;
    margin-bottom: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease-in-out;
}

.conta h2 {
    font-size: 1.1rem;
    margin-bottom: 0.4rem;
    color: #1f2937; /* cinza escuro elegante */
}

.conta p {
    font-size: 0.95rem;
    margin-bottom: 0.3rem;
    color: #374151;
}

.conta:last-child {
    margin-bottom: 0;
}

.conta:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.15);
}